@{
  ViewData["Title"] = "Gabor Szekeres - Derivco Assessment";
  // TODO: add react-helmet to manage titles
}

<div id="react-app">Loading...</div>

@section scripts {
  <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
